body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.form-container {
  width: 100%;
  max-width: 500px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}

.register-form {
  display: grid;
  gap: 20px;
}
.error-form-field {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  border: 1px solid red;
}
.div{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-field {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.form-field::placeholder {
  color: #aaa;
}

.form-field:focus {
  outline: none;
  background-color: #ffffff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
}
show-password-button {
  border: none;
  background-color: transparent;
  color: #3498db;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s;
}

.show-password-button:hover {
  color: #2980b9;
}

.error {
  border-bottom-color: red;
}

.error-message {
  font-size: 14px;
  color: red;
  margin-top: -20px;
  margin-left: 3px;
}

.form-field-Submit {
  width: 100%;
  padding: 15px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-field-Submit:hover {
  background-color: #2980b9;
}

/* Responsiveness */
@media (max-width: 600px) {
  .form-container {
    padding: 30px;
  }
}
